

.filesAndFolders{
  height:94vh;

  overflow-y: auto;
}

.folders{
  /* height: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* flex-wrap: wrap; */
  border-bottom:1px dashed var(--darkGrey)
}


.files{
  display: flex;
  /* flex-wrap: wrap; */
  /* height: 90vh; */
}


.buttonContainer{
  /* border:1px dashed var(--black); */
  height: 94vh;
  min-width:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
  padding-top:6vh
}
.addButton{
  height: 60px;
  width: 60px;
  /* background-color: var(--black); */
  border: 1px solid var(--black);
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.addButton:hover{
  color:var(--darkGrey);
  border: 1px solid var(--darkGrey)
}

.createFolder{
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
  /* margin: 10px; */
  cursor: pointer;
  /* border-radius: 5px; */
  font-size: 1.2rem;
  padding: 7px;
  width: 100%;
  font-family: Bold;
}

.createFolder:hover{
  background-color: var(--lightGrey);
}