.fileContainer{
  /* height: 270px; */
  /* border: solid 1px var(--black); */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  cursor: pointer;
}

.fileContainer:hover{
  background-color: var(--lightGrey);
}


.activeAssistants{
  display: flex;
  
}
.documentTextTitle{
  display: flex;
  align-items: center;
  /* text-align: center; */
  padding: 7px;
}



.date{
text-align: left;
font-family: Italic;
}

.details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:0 7px;
  height: 30px;
}

.detailsTxt{
  display: flex;
  flex-direction: column;
}

.closeIcon{
  color:var(--red)
}

.closeIcon:hover{
  color:darkred
}

.deleteModal{
  
  background: var(--lightGrey);
 
  /* border-radius: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  padding:0 7px;
  height: 30px;
}

.modalButtons{
  display: flex;
}

.choiceButton{
  border: 1px solid;
  padding: 0 3px;
  margin: 0 2px;
}