.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--lighterGrey);
    position: relative; /* Added to establish a positioning context for absolute positioning inside */
}

.editor {
    background-color: white;
    width: 60%;
    height: 65%;
    overflow-y: scroll;
    border-radius: 2%;
    padding: 1%;
    z-index: 1; /* Ensure the editor is above the threadDiv if they overlap */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}
.threadDiv {
    width: 20%;
    height: 65%;
    position: absolute;
    right: 0; 
    margin-right: 0%; 
    margin-left: 2%; 
    top: calc(17.5vh - 2vh - 30px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    padding-top: 2px;
}
.menu {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.menuButton {
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid var(--lightGrey);
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    color: var(--black);
}
.heading1 {
    font-family: Bold;
    font-size: 22px;
    border-left: none;
}
.heading2 {
    font-family: Bold;
}
.paragraph {
    font-family: Normal;
}
.bold {
    font-family: Bold;
}
.italic {
    font-family: Italic;
}
.underline {
    font-family: Normal;
    text-decoration: underline;
}
.bullet {
    border-right: none;
    width: 30px;
}
.addButton{
    height: 60px;
    width: 60px;
    /* background-color: var(--black); */
    border: 1px solid var(--black);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2vh;
    bottom: 2vh;

  }
  .addButton:hover{
    color:var(--darkGrey);
    border: 1px solid var(--darkGrey)
  }